# Videos
*.mp4

# FFmpeg binaries
ffmpeg/
bin/
ffmpeg-*/

# Local experiments
output.*
sparkleText*.js
ffmpeg-check.js
install

templates/* allow glow.mp4
node_modules/
.env
.env.*
npm-debug.log*
yarn-error.log*
